bash/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.clj-kondo/.cache
.clj-kondo/imports
eventplannerjs/out
build
www
newsv2js/.cpcache
newsv2js/.clj-kondo/.cache
newsv2js/.shadow-cljs
newsv2js/node_modules
.clj-kondo/.cache
.cpcache
*.#*
.lsp/.cache
*/__pycache__*
**/__pycache__*
package-lock.json